@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

$bgColor: #131722;
$lightBgColor: rgba(30, 41, 82, 0.1);
$bgTransparent: rgba(19, 91, 117, 0.6);
$fontColor: #fff;
$borderColor: #a8a8a83d;
$borderHeight: 1px;
$secondFontColor: #949cb0;

body {
  background-color: $bgColor;
  color: $fontColor;
  font-family: 'Montserrat', sans-serif;
}

a, a:hover{
  color: $fontColor !important;
}

